body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 16px;
  background-color: black font-family: 'Indie Flower', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: rgb(0, 0, 0);
  height: 100px;
}

h1 {
  font-size: 300%;
  text-align: center;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 100%;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
  background-color: moccasin;
}

article {
  border-bottom: 1px solid #d8a47f;
}

article ul {
  margin-left: 5%;
  list-style: none;
  font-family: monospace;
}

aside {
  width: 25%;
}

input {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #0f0f0f;
  color: #fff;
}

@media screen and (max-width: 768px) {

  header,
  main {
    flex-direction: column;
  }
}

.anime {
  max-width: 50%;
  align-items: center;
  height: 25rem;
  padding-left: 25%;

}

a {
  font-size: 25px;
  color: rgb(15, 12, 209);
}

p,
span {
  font-size: 30px;
}